<footer class="app-footer">
    <div class="row">
        <div class="col-sm-7">&copy; 2016 <strong>Zigron.</strong> All Rights Reserved.</div>
        <div class="col-sm-5"></div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://localhost:3000/javascripts/bootstrap.min.js"></script>
<script src="http://localhost:3000/javascripts/custom-script.js"></script>
</body>
</html>