<% include header %>
<div class="app content-area">
    <% include sidebar %>
    <div class="main-content">
        <div class="container-fluid">
            <div class="main-dashboard text-center">
                <img src="http://localhost:3000/images/logo.png" width="193" height="45" class="img-responsive img-inline" />
                <h2 class="text-uppercase">Accounts Management System</h2>
                <div class="row">
                    <div class="col-sm-12 dashboard-buttons">
                        <button type="button" class="btn btn-normal btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i>Create Voucher</button>
                        <button type="button" class="btn btn-normal btn-lg"><i class="fa fa-floppy-o" aria-hidden="true"></i>Saved Voucher</button>
                        <button type="button" class="btn btn-normal btn-lg"><i class="fa fa-upload" aria-hidden="true"></i>Imports</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<% include footer %>