<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Zigron Account Management</title>

    <!-- Bootstrap -->
    <link href="http://localhost:3000/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/font-awesome.min.css">
    <link href="http://localhost:3000/stylesheets/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="app-header">
    <div class="container-fluid">
        <div class="left-header pull-left"><!-- Single button -->
            <div class="logo"> <a href="javascript:;"><img src="http://localhost:3000/images/logo.png" width="193" height="45" /></a> </div>
        </div>
    </div>
</header>
<div class="app content-area">
    <aside class="side-bar">
        <div class="navigation-section">
            <div class="m-title">Navigation</div>
            <ul class="nav navbar-nav gw-nav gw-nav-list">
                <li class="active"><a href="javascript:;" title="Dashboard"><i class="fa fa-home" aria-hidden="true"></i><span>Dashboard</span></a></li>
                <li><a href="javascript:;" title="Create Voucher"><i class="fa fa-pencil" aria-hidden="true"></i><span>Create Voucher</span></a></li>
                <li class="init-arrow-down has-child">
                    <a href="javascript:;" title="Saved Voucher"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Saved Voucher</span><em class="fa fa-angle-down"></em></a>
                    <ul class="gw-submenu">
                        <li><a href="javascript:;">Drafts</a></li>
                        <li><a href="javascript:;">Printed</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;" title="Imports"><i class="fa fa-upload" aria-hidden="true"></i><span>Imports</span></a></li>
            </ul>
        </div>
    </aside>
    <div class="main-content">
        <div class="container-fluid">
            <div class="main-dashboard text-center">
                <img src="http://localhost:3000/images/logo.png" width="193" height="45" class="img-responsive img-inline" />
                <h2 class="text-uppercase">Accounts Management System</h2>
                <div class="row">
                    <div class="col-sm-12 dashboard-buttons">
                        <button type="button" class="btn btn-normal btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i>Create Voucher</button>
                        <button type="button" class="btn btn-normal btn-lg"><i class="fa fa-floppy-o" aria-hidden="true"></i>Saved Voucher</button>
                        <button type="button" class="btn btn-normal btn-lg"><i class="fa fa-upload" aria-hidden="true"></i>Imports</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="app-footer">
    <div class="row">
        <div class="col-sm-7">&copy; 2016 <strong>Zigron.</strong> All Rights Reserved.</div>
        <div class="col-sm-5"></div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://localhost:3000/javascrits/bootstrap.min.js"></script>
<script src="http://localhost:3000/javascripts/custom-script.js"></script>
</body>
</html>