<aside class="side-bar">
    <div class="navigation-section">
        <div class="m-title">Navigation</div>
        <ul class="nav navbar-nav gw-nav gw-nav-list">
            <li class="active"><a href="http://localhost:3000/home" title="Dashboard"><i class="fa fa-home" aria-hidden="true"></i><span>Dashboard</span></a></li>
            <li><a href="http://localhost:3000/voucher_1" title="Create Voucher"><i class="fa fa-pencil" aria-hidden="true"></i><span>Create Voucher</span></a></li>
            <li class="init-arrow-down has-child">
                <a href="javascript:;" title="Saved Voucher"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Saved Voucher</span><em class="fa fa-angle-down"></em></a>
                <ul class="gw-submenu">
                    <li><a href="javascript:;">Drafts</a></li>
                    <li><a href="javascript:;">Printed</a></li>
                </ul>
            </li>
            <li><a href="javascript:;" title="Imports"><i class="fa fa-upload" aria-hidden="true"></i><span>Imports</span></a></li>
        </ul>
    </div>
</aside>
